<template>
  <div class="article">
    <page-title icon="fa fa-file-alt" :title="article.name" :subtitle="article.description"/>
    <div class="article__content" v-html="article.content"></div>
  </div>
</template>

<script>
import 'highlightjs/styles/dracula.css';
import hljs from 'highlightjs/highlight.pack.js';

import PageTitle from '@/components/templates/PageTitle';

import { getArticleById } from '@/services/articleService';

export default {
  name: 'Article',
  components: {
    PageTitle
  },
  data() {
    return {
      article: {}
    };
  },
  beforeMount() {
    this.getArticle();
  },
  methods: {
    async getArticle() {
      const id = this.$route.params.id;
      this.article = await getArticleById(id);
    }
  },
  updated() {
    document.querySelectorAll('.article__content pre').forEach(element => {
      hljs.highlightBlock(element);
    });
  }
};
</script>

<style lang="scss" scoped>
.article {
  &__content {
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5em;

    & pre {
      padding: 1em;
      border-radius: 10px;
      font-size: 1.25em;

      display: block;
      width: 100%;
      overflow-x: auto;
    }

    & img {
      max-width: 100%;
    }

    & :last-child {
      margin-bottom: 0;
    }
  }
}
</style>
