<template>
  <div class="article-item">
    <router-link :to="{ name: 'article', params: { id: article.id } }">
      <div class="article-item__img">
        <img v-if="article.thumbnail" :src="article.thumbnail" alt="Thumbnail do artigo">
        <img v-else src="@/assets/img/article.png" alt="Thumbnail do artigo">
      </div>
      <div class="article-item__info">
        <h2>{{ article.name }}</h2>
        <p>{{ article.description}}</p>
        <span>
          <strong>Autor:</strong>
          {{ article.author }}
        </span>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'ArticleItem',
  props: {
    article: Object
  }
};
</script>

<style lang="scss" scoped>
$break-small: 576px;

.article-item {
  border-radius: 10px;
  margin-bottom: 1em;
  background-color: #fff;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }

  &__img {
    @media screen and (max-width: $break-small) {
      display: none;
    }

    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid #aaa;

    & img {
      border-radius: 10px 0 0 10px;

      width: 100px;
      height: 100px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    & h2 {
      font-size: 1.75rem;
    }

    & p {
      flex: 1;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
</style>
