<template>
  <div class="article-list">
    <page-title icon="fa fa-folder-open" :title="category.name" subtitle="Artigos da categoria"/>
    <ul v-if="articles.length" class="article-list__list">
      <li v-for="article in articles" :key="article.id">
        <article-item :article="article"/>
      </li>
    </ul>
    <b-alert v-else show>Ainda não há nenhum artigo para essa categoria!
      <router-link v-if="true" class="alert-link" to="/admin">Seja o primeiro!</router-link>
    </b-alert>
    <div class="article-list__load-more">
      <button v-if="!last" @click="getArticles()">Carregar mais</button>
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/templates/PageTitle';
import ArticleItem from './ArticleItem';

import {
  getCategoryById,
  getArticlesByCategoryId
} from '@/services/categoryService';

export default {
  name: 'ArticleList',
  components: {
    PageTitle,
    ArticleItem
  },
  data() {
    return {
      category: {},
      articles: [],
      page: 0,
      last: true
    };
  },
  beforeMount() {
    this.init();
  },
  methods: {
    async getCategory() {
      this.category = await getCategoryById(this.category.id);
    },
    async getArticles() {
      const articles = await getArticlesByCategoryId(
        this.category.id,
        this.page
      );

      this.articles = this.articles.concat(articles.content);
      this.last = articles.last;
      this.page++;
    },
    init() {
      Object.assign(this.$data, this.$options.data.call(this));

      this.category.id = this.$route.params.id;

      this.getCategory();
      this.getArticles();
    }
  },
  watch: {
    $route() {
      this.init();
    }
  }
};
</script>

<style lang="scss" scoped>
.article-list {
  &__list {
    list-style-type: none;
    padding: 0px;
  }

  &__load-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
}
</style>
