<template>
  <footer class="footer">
    <span>Copyright © 2018-2019.</span>
    <strong> Jefferson Vieira da Silva.</strong>
    <span> All rights reserved.</span>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
};
</script>

<style>
.footer {
  grid-area: footer;
  background-color: #ddd;
  color: #333;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
</style>
