<template>
  <header class="header">
    <a v-if="user" role="button" class="toggle" title="Menu" @click="TOGGLE_MENU()">
      <i class="fa fa-lg fa-bars"></i>
    </a>
    <h1 class="title">
      <router-link to="/home">{{ title }}</router-link>
    </h1>
    <user-dropdown v-if="user" />
  </header>
</template>

<script>
import { mapState } from 'vuex';

import UserDropdown from './UserDropdown';

export default {
  name: 'Header',
  components: {
    UserDropdown
  },
  props: {
    title: String,
    toggle: Boolean,
    userDropdown: Boolean
  },
  computed: mapState(['user']),
  methods: {
    toggleMenu() {
      this.$store.dispatch('TOGGLE_MENU');
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/assets/sass/_variables.scss';

.header,
.header .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
  color: #fff;
  background-color: $dark-blue;

  & .toggle {
    height: 100%;
    width: 60px;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid $dark-blue;
      color: #000;
      background-color: $primary;
      cursor: pointer;
    }

    &:active {
      background-color: $secondary;
    }
  }
}

.title {
  margin: 0;
  font-size: 1.2em;
  font-weight: 100;
  flex-grow: 1;
  text-align: center;

  & a {
    color: #fff;
    text-decoration: none;
  }
}
</style>
