<template>
  <aside class="menu" v-show="showMenu">
    <div class="menu__filter">
      <input type="text" placeholder="Filtrar categorias..." v-model="filter">
      <i class="fa fa-search fa-lg"></i>
    </div>
    <div class="menu__header">categorias</div>
    <menu-tree :data="menuItens" :filter="filter" :options="treeConfigs" ref="tree"/>
  </aside>
</template>

<script>
import { mapState } from 'vuex';
import MenuTree from 'liquor-tree';

import { getMenuItens } from '@/services/categoryService';

export default {
  name: 'Menu',
  computed: mapState(['showMenu']),
  components: {
    MenuTree
  },
  data() {
    return {
      menuItens: getMenuItens(),
      filter: '',
      treeConfigs: {
        propertyNames: {
          text: 'name'
        },
        filter: {
          emptyText: 'Categoria não encontrada!'
        }
      }
    };
  },
  methods: {
    onCategorySelect({ id }) {
      this.$router.push({
        name: 'articleList',
        params: { id }
      });
    }
  },
  mounted() {
    this.$refs.tree.$on('node:selected', this.onCategorySelect)
  }
};
</script>

<style lang="scss">
@import '@/assets/sass/_variables.scss';

.menu {
  grid-area: menu;
  background: $primary;
  border-right: 1px solid #000;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 0.5em;
    background-color: $secondary;

    & input {
      background-color: $secondary;
      color: #fff;
      margin-right: 0.5em;
      border: 0;
      outline: 0;
      width: 100%;

      &::placeholder {
        color: rgba(255, 255, 255, 0.75);
      }
    }

    & i {
      color: #fff;
    }
  }

  &__header {
    background-color: $secondary;
    padding: 0.5em 1em;

    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
  }

  // & a,
  // & a:hover {
  //   color: #fff;
  //   text-decoration: none;
  // }

  & .tree {
    &-filter-empty {
      padding: 10px;
      color: white;
      font-weight: bold;
      background-color: $secondary;
    }

    &-root {
      margin-bottom: 0;
      padding: 0;

      & .tree-node {
        &.selected .tree-content {
          background-color: $dark-blue;

          &:hover {
            background-color: $dark-blue--hover;
          }

          & .tree-anchor {
            color: #fff;
          }
        }

        & .tree-content {
          padding: 10px;

          transition: 0.25s;

          &:hover {
            background-color: $secondary;

            & .tree-anchor {
              color: #fff;
            }
          }

          & .tree-arrow {
            display: flex;
            align-items: center;

            &::after {
              top: auto;
            }
          }
        }

        &:not(:last-child),
        &.expanded {
          & .tree-content {
            border-bottom: 1px solid $dark-blue;
          }
        }
      }
    }
  }
}
</style>
