<template>
  <div class="page-title">
    <div class="page-title__icon">
      <i v-if="icon" :class="icon"></i>
    </div>
    <div class="page-title__title">
      <h1>{{ title }}</h1>
      <h2 v-if="subtitle">{{ subtitle }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageTitle',
  props: {
    icon: String,
    title: String,
    subtitle: String
  }
};
</script>

<style lang="scss" scoped>
@import '@/assets/sass/_variables.scss';

.page-title {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 'icon title';

  margin-bottom: 1em;

  &__icon {
    grid-area: icon;
    width: 100%;
    height: 100%;
    font-size: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    grid-area: title;
    border-bottom: 1px solid #ccc;
    margin-left: 25px;

    display: flex;
    flex-direction: column;
    align-items: satrt;
    justify-content: center;

    & h1 {
      margin: 0;
    }

    & h2 {
      color: $muted;
      font-size: 1.3rem;
    }
  }
}
</style>
