<template>
  <div class="user-dropdown">
    <div class="user-dropdown__button">
      <span class="user-dropdown__text">{{ user.name }}</span>
      <div class="user-dropdown__img">
        <gravatar :email="user.email" alt="Avatar"/>
      </div>
      <i class="fa fa-angle-down"></i>
    </div>
    <div class="user-dropdown__content">
      <router-link to="/admin">
        <span>
          Administração
          <i class="fa fa-cogs"></i>
        </span>
      </router-link>
      <a href @click.prevent="signout()">
        <span>
          Sair
          <i class="fa fa-sign-out-alt"></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Gravatar from 'vue-gravatar';

import { signout } from '@/utils/auth';

export default {
  name: 'UserDropdown',
  components: {
    Gravatar
  },
  computed: mapState(['user']),
  methods: {
    signout() {
      signout();
      this.$store.dispatch('SET_USER', null);
      this.$router.push('/auth');
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/sass/_variables.scss';

$min-menu-width: 200px;

.user-dropdown {
  position: relative;
  height: 100%;
  min-width: $min-menu-width;

  &:hover {
    & .user-dropdown__button {
      color: #000;
      background-color: $primary;
      cursor: pointer;
    }

    & .user-dropdown__content {
      visibility: visible;
    }
  }

  &__text {
    display: block;
  }

  &__button {
    color: #fff;
    font-weight: 100;
    height: 100%;
    width: 100%;
    padding: 0 0 0 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;
  }

  &__img {
    margin: 0 10px;

    & > img {
      max-width: 40px;
      border-radius: 5px;
    }
  }

  &__content {
    position: absolute;
    right: 0;
    background-color: $dark-blue;
    min-width: $min-menu-width;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    visibility: hidden;

    & a {
      padding: 20px;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid #fff;

      display: flex;
      justify-content: flex-end;

      transition: all 0.2s;

      &:hover {
        color: #000;
        background-color: $primary;
        text-decoration: none;
        font-weight: bold;

        & span {
          transform: translateX(-5px);
        }
      }
    }

    & i {
      padding-left: 20px;
    }
  }
}
</style>
