<template>
  <div v-show="loading" class="loading"></div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Loading',
  computed: mapState(['loading']),
};
</script>

<style lang="scss" scoped>
.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &::after {
    content: '';
    width: 120px;
    height: 120px;

    margin: auto;

    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
