<template>
  <div class="logo">
    <i class="fa fa-blog"></i>
    <hr>
  </div>
</template>

<script>
export default {
  name: 'Logo'
};
</script>

<style lang="scss" scoped>
@import '@/assets/sass/_variables.scss';

.logo {
  width: 100%;

  & i {
    width: 100%;
    font-size: 10em;
    color: $primary;

    display: flex;
    justify-content: center;
    text-align: center;
  }

  & hr {
    width: 100%;
    height: 1px;
    margin: 2em 0;
    background-image: linear-gradient(
      to right,
      rgba($color: $primary, $alpha: 0),
      rgba($color: $primary, $alpha: 0.75),
      rgba($color: $primary, $alpha: 0)
    );
  }
}
</style>
