<template>
  <div class="admin">
    <page-title
      icon="fa fa-cogs"
      title="Administração"
      subtitle="Ferramentas do administrador"
    />
    <div class="admin__tabs">
      <b-card no-body>
        <b-tabs card>
          <b-tab title="Artigos" active>
            <article-admin />
          </b-tab>
          <b-tab title="Categorias">
            <category-admin />
          </b-tab>
          <b-tab title="Usuários">
            <user-admin />
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </div>
</template>

<script>
import ArticleAdmin from './ArticleAdmin';
import CategoryAdmin from './CategoryAdmin';
import UserAdmin from './UserAdmin';

import PageTitle from '@/components/templates/PageTitle';

export default {
  name: 'AdminPage',
  components: {
    ArticleAdmin,
    CategoryAdmin,
    UserAdmin,
    PageTitle
  }
};
</script>

<style>
.admin__tabs {
  margin-top: 1em;
}
</style>
