<template>
  <div class="article-admin">
    <b-form class="mb-3">
      <input id="inputArticleId" type="hidden" v-model="article.id">
      <b-row>
        <b-col xs="12">
          <b-form-group label="Nome" label-for="inputArticleName">
            <b-form-input
              id="inputArticleName"
              type="text"
              v-model="article.name"
              placeholder="Informe o nome do artigo"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Descrição" label-for="inputArticleDescription">
            <b-form-input
              id="inputArticleDescription"
              type="text"
              v-model="article.description"
              placeholder="Informe a descrição do artigo"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Thumbnail" label-for="inputArticleThumbnail">
            <b-form-input
              id="inputArticleThumbnail"
              type="text"
              v-model="article.thumbnail"
              placeholder="Informe a URL da imagem de capa do artigo"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Categoria do artigo" label-for="selectArticleCategory">
            <b-form-select id="selectArticleCategory" :options="categories" v-model="article.categoryId"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Autor do artigo" label-for="selectArticleAuthor">
            <b-form-select id="selectArticleAuthor" :options="users" v-model="article.userId"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Conteúdo" label-for="textArticleContent">
            <vue-editor v-model="article.content" placeholder="Conteúdo do artigo..."/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <div class="float-right justify-content-between">
            <b-button variant="danger" @click="reset()" class="mr-3">Cancelar</b-button>
            <b-button variant="primary" @click="save()">Salvar</b-button>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <b-table hover striped :items="articles" :fields="fields">
      <template slot="actions" slot-scope="data">
        <b-button variant="warning" @click="editArticle(data.item)" class="mr-2">
          <i class="fa fa-pencil-alt"></i>
        </b-button>
        <b-button variant="danger" @click="removeArticle(data.item)">
          <i class="fa fa-trash-alt"></i>
        </b-button>
      </template>
    </b-table>
    <b-pagination class="float-right" size="md" v-model="page" :total-rows="count" :per-page="limit"/>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor';

import {
  getArticles,
  createArticle,
  updateArticle,
  removeArticle
} from '@/services/articleService';
import { getCategories } from '@/services/categoryService';
import { getUsers } from '@/services/userService';

import { confirmAlert } from '@/utils/confirm';
import { errorAlert } from '@/utils/error';
import { successAlert } from '@/utils/success';
import { warningToast } from '@/utils/warning';

const articleDefault = {
  name: '',
  description: '',
  categoryId: null,
  userId: null,
  content: ''
};

export default {
  name: 'ArticleAdmin',
  components: {
    VueEditor
  },
  data() {
    return {
      article: { ...articleDefault },
      articles: [],
      categories: [],
      users: [],
      count: null,
      limit: 10,
      page: 1,
      fields: [
        { key: 'id', label: 'Código' },
        { key: 'author', label: 'Autor' },
        { key: 'name', label: 'Nome' },
        { key: 'description', label: 'Descrição' },
        { key: 'actions', label: 'Ações' }
      ]
    };
  },
  beforeMount() {
    this.loadArticles();
  },
  methods: {
    // NEEDS REFACTOR
    // PROBLEMAS COM A PAGINAÇÃO - LOAD INCOMPLETO
    async loadArticles() {
      try {
        const articlesRequest = getArticles(this.page - 1);
        const categoriesRequest = getCategories();
        const usersRequest = getUsers();

        const articles = await articlesRequest;
        const categories = await categoriesRequest;
        const users = await usersRequest;

        this.articles = articles.content;
        this.categories = categories.content.map(category => ({
          value: category.id,
          text: category.name
        }));
        this.users = users.content.map(user => ({
          value: user.id,
          text: `${user.name} (${user.email})`
        }));

        this.count = articles.totalItens;
      } catch (error) {
        errorAlert(error);
      }
    },
    editArticle(article) {
      warningToast(`Editando o artigo ${article.name}...`);
      this.article = { ...article };
    },
    reset() {
      this.article = { ...articleDefault };
    },
    async save() {
      const confirm = await confirmAlert(
        'Tudo certo para salvar os dados do artigo?'
      );
      if (confirm.value) {
        try {
          const { id } = this.article;
          if (id) {
            await updateArticle(id, this.article);
          } else {
            await createArticle(this.article);
          }
          successAlert();
          this.loadArticles();
          this.reset();
        } catch (error) {
          errorAlert(error);
        }
      }
    },
    async removeArticle(article) {
      const confirm = await confirmAlert(
        `Deseja mesmo remover o artigo ${article.name}?`
      );
      if (confirm.value) {
        try {
          await removeArticle(article.id);
          successAlert('Artigo removido com sucesso!');
          this.loadArticles();
        } catch (error) {
          errorAlert(error);
        }
      }
    }
  },
  watch: {
    page() {
      this.loadArticles();
    }
  }
};
</script>

<style></style>
