<template>
  <div class="category-admin">
    <b-form class="mb-3">
      <input id="inputCategoryId" type="hidden" v-model="category.id">
      <b-row>
        <b-col xs="12">
          <b-form-group label="Nome" label-for="inputCategoryName">
            <b-form-input
              id="inputCategoryName"
              type="text"
              v-model="category.name"
              placeholder="Informe o nome da categoria"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <b-form-group label="Path da Categoria" label-for="selectCategoryPath">
            <b-form-select id="selectCategoryPath" :options="paths" v-model="category.parentId"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col xs="12">
          <div class="float-right justify-content-between">
            <b-button variant="danger" @click="reset()" class="mr-3">Cancelar</b-button>
            <b-button variant="primary" @click="save()">Salvar</b-button>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <b-table hover striped :items="categories" :fields="fields">
      <template slot="actions" slot-scope="data">
        <b-button variant="warning" @click="editCategory(data.item)" class="mr-2">
          <i class="fa fa-pencil-alt"></i>
        </b-button>
        <b-button variant="danger" @click="removeCategory(data.item)">
          <i class="fa fa-trash-alt"></i>
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import {
  getCategories,
  createCategory,
  updateCategory,
  removeCategory
} from '@/services/categoryService';

import { confirmAlert } from '@/utils/confirm';
import { errorAlert } from '@/utils/error';
import { successAlert } from '@/utils/success';
import { warningToast } from '@/utils/warning';

const categoryDefault = {
  name: '',
  parentId: null
};

export default {
  name: 'CategoryAdmin',
  data() {
    return {
      category: { ...categoryDefault },
      categories: [],
      fields: [
        { key: 'id', label: 'Código' },
        { key: 'name', label: 'Nome' },
        { key: 'path', label: 'Caminho' },
        { key: 'articles', label: 'Artigos' },
        { key: 'actions', label: 'Ações' }
      ]
    };
  },
  beforeMount() {
    this.loadCategories();
  },
  computed: {
    paths() {
      return this.categories.map(category => {
        return {
          value: category.id,
          text: category.path
        };
      });
    }
  },
  methods: {
    getPath(category) {
      let path = category.name;
      let parent = category.parent;
      while (parent) {
        path = `${parent.name} ➝ ${path}`;
        parent = parent.parent;
      }
      return path;
    },
    async loadCategories() {
      try {
        const categories = await getCategories();
        this.categories = categories.content;
        this.categories.map(
          category => (category.path = this.getPath(category))
        );
      } catch (error) {
        errorAlert(error);
      }
    },
    editCategory(category) {
      warningToast(`Editando a categoria ${category.path}...`);
      this.category = { ...category };
      delete this.category.path;
    },
    reset() {
      this.category = { ...categoryDefault };
    },
    async save() {
      const confirm = await confirmAlert(
        'Tudo certo para salvar os dados da categoria?'
      );
      if (confirm.value) {
        try {
          const { id } = this.category;
          if (id) {
            await updateCategory(id, this.category);
          } else {
            await createCategory(this.category);
          }
          successAlert();
          this.loadCategories();
          this.reset();
        } catch (error) {
          errorAlert(error);
        }
      }
    },
    async removeCategory(category) {
      const confirm = await confirmAlert(
        `Deseja mesmo remover a categoria ${category.name}?`
      );
      if (confirm.value) {
        try {
          await removeCategory(category.id);
          successAlert('Categoria removido com sucesso!');
          this.loadCategories();
        } catch (error) {
          errorAlert(error);
        }
      }
    }
  }
};
</script>

<style></style>
