<template>
  <div class="user-admin">
    <b-form class="mb-3">
      <input id="inputUserId" type="hidden" v-model="user.id">
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group label="Nome" label-for="inputUserName">
            <b-form-input
              id="inputUserName"
              type="text"
              v-model="user.name"
              placeholder="Informe o nome do usuário"
              required
            />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group label="E-mail" label-for="inputUserEmail">
            <b-form-input
              id="inputUserEmail"
              type="email"
              v-model="user.email"
              placeholder="Informe o e-mail do usuário"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group label="Senha" label-for="inputUserPassword">
            <b-form-input
              id="inputUserPassword"
              type="password"
              v-model="user.password"
              placeholder="Informe a senha do usuário"
              required
            />
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group label="Confirmar a senha" label-for="inputUserConfirmPassword">
            <b-form-input
              id="inputUserConfirmPassword"
              type="text"
              v-model="user.confirmPassword"
              placeholder="Confirme a senha do usuário"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group label="Administrador">
            <b-form-radio-group id="radioUserAdmin" v-model="user.admin" name="radioUserAdmin" required>
              <b-form-radio :value="true">Sim</b-form-radio>
              <b-form-radio :value="false" checked>Não</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12">
          <div class="float-right justify-content-between">
            <b-button variant="danger" @click="reset()" class="mr-3">Cancelar</b-button>
            <b-button variant="primary" @click="save()">Salvar</b-button>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <b-table hover striped :items="users" :fields="fields">
      <template slot="actions" slot-scope="data">
        <b-button variant="warning" @click="editUser(data.item)" class="mr-2">
          <i class="fa fa-pencil-alt"></i>
        </b-button>
        <b-button variant="danger" @click="removeUser(data.item)">
          <i class="fa fa-trash-alt"></i>
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import {
  getUsers,
  createUser,
  updateUser,
  removeUser
} from '@/services/userService';

import { confirmAlert } from '@/utils/confirm';
import { errorAlert } from '@/utils/error';
import { successAlert } from '@/utils/success';
import { warningToast } from '@/utils/warning';

const userDefault = {
  name: '',
  email: '',
  password: '',
  confirmPassword: '',
  admin: false
};

export default {
  name: 'UserAdmin',
  data() {
    return {
      user: { ...userDefault },
      users: [],
      fields: [
        { key: 'id', label: 'Código' },
        { key: 'name', label: 'Nome' },
        { key: 'email', label: 'E-mail' },
        {
          key: 'admin',
          label: 'Administrador',
          formatter: val => (val ? 'Sim' : 'Não')
        },
        { key: 'actions', label: 'Ações' }
      ]
    };
  },
  beforeMount() {
    this.loadUsers();
  },
  methods: {
    async loadUsers() {
      try {
        const users = await getUsers();
        this.users = users.content;
      } catch (error) {
        errorAlert(error);
      }
    },
    editUser(user) {
      warningToast(`Editando o usuário ${user.name}...`);
      this.user = { ...user };
    },
    reset() {
      this.user = { ...userDefault };
    },
    async save() {
      const confirm = await confirmAlert(
        `Tudo certo para salvar os dados do usuário?`
      );
      if (confirm.value) {
        try {
          const { id } = this.user;
          if (id) {
            await updateUser(id, this.user);
          } else {
            await createUser(this.user);
          }
          successAlert();
          this.loadUsers();
          this.reset();
        } catch (error) {
          errorAlert(error);
        }
      }
    },
    async removeUser(user) {
      const confirm = await confirmAlert(
        `Deseja mesmo remover o usuário ${user.name}?`
      );
      if (confirm.value) {
        try {
          await removeUser(user.id);
          successAlert('Usuário removido com sucesso!');
          this.loadUsers();
        } catch (error) {
          errorAlert(error);
        }
      }
    }
  }
};
</script>

<style></style>
