<template>
  <div class="home">
    <page-title icon="fa fa-home" title="Dashboard" />
    <div class="home__stats">
      <stat
        title="Categorias"
        :value="stat.categories"
        icon="fa fa-folder"
        color="#dc3545"
      />
      <stat
        title="Artigos"
        :value="stat.articles"
        icon="fa fa-file"
        color="#28a745"
      />
      <stat
        title="Usuários"
        :value="stat.users"
        icon="fa fa-users"
        color="#007bff"
      />
    </div>
  </div>
</template>

<script>
import PageTitle from '@/components/templates/PageTitle';
import Stat from './Stat';

import { getStats } from '../../services/statService.js';

export default {
  name: 'Home',
  components: {
    PageTitle,
    Stat
  },
  data() {
    return {
      stat: {}
    };
  },
  async beforeMount() {
    try {
      this.stat = await getStats();
    } catch (error) {
      alert(error);
    }
  }
};
</script>

<style lang="scss" scoped>
.home {
  &__stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
</style>
