<template>
  <div class="stat">
    <div class="stat__icon">
      <i :class="icon" :style="{ color: color || '#000' }"></i>
    </div>
    <div class="stat__info">
      <span class="stat__title">{{ title }}</span>
      <span class="stat__value">{{ value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Stat',
  props: {
    title: String,
    value: Number,
    icon: String,
    color: String
  }
};
</script>

<style lang="scss" scoped>
.stat {
  display: flex;
  flex: 1;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

  &__icon {
    display: flex;
    align-items: center;

    & i {
      font-size: 5rem;
    }
  }

  &__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__value {
    font-size: 3rem;
  }
}
</style>
