<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import { initAuthInterceptor } from '@/utils/auth';
import { instance } from '@/utils/http';

export default {
  name: 'App',
  created() {
    initAuthInterceptor(instance);
  }
};
</script>

<style lang="scss">
@import '@/assets/sass/main.scss';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background: $dark-blue;

  &-thumb {
    border-radius: 5px;
    background: $primary;
    border: 1px solid $secondary;
  }

  &-corner {
    background: $dark-blue;
  }
}
</style>
