<template>
  <div class="wrapper" :class="{ 'menu--hide': !showMenu || !user}">
    <Header title="Blog"/>
    <Menu/>
    <Content/>
    <Footer/>
    <Loading/>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Loading from '@/components/Loading';
import Content from '@/components/templates/Content';
import Footer from '@/components/templates/Footer';
import Header from '@/components/templates/Header';
import Menu from '@/components/templates/Menu';

export default {
  name: 'Layout',
  components: {
    Content,
    Footer,
    Header,
    Loading,
    Menu
  },
  computed: mapState(['showMenu', 'user'])
};
</script>

<style lang="scss">
@import '@/assets/sass/_variables.scss';

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;
  grid-template-columns: $menu-width 1fr;
  grid-template-areas:
    'menu header'
    'menu content'
    'menu footer';

  &.menu {
    &--hide {
      grid-template-areas:
        'header header'
        'content content'
        'footer footer';
    }
  }
}
</style>
