<template>
  <section id="auth" class="auth">
    <div class="auth__card">
      <logo/>
      <h2 class="auth__title">{{ title }}</h2>
      <form @submit.prevent="sign()" novalidate>
        <transition name="fade">
          <div v-show="auth" class="auth__box">
            <input id="inputUserName" name="name" type="text" v-model="user.name" autocomplete="name" required>
            <label for="inputUserName">Nome</label>
          </div>
        </transition>
        <div class="auth__box">
          <input
            id="inputUserEmail"
            name="username"
            type="text"
            v-model="user.email"
            autocomplete="username email"
            required
          >
          <label for="inputUserEmail">E-mail</label>
        </div>
        <div class="auth__box">
          <input
            id="inputUserPassword"
            name="password"
            type="password"
            v-model="user.password"
            autocomplete="current-password"
            required
          >
          <label for="inputUserPassword">Senha</label>
        </div>
        <transition name="fade">
          <div v-show="auth" class="auth__box">
            <input
              id="inputUserConfirmPassword"
              name="password"
              type="password"
              v-model="user.confirmPassword"
              autocomplete="new-password"
              required
            >
            <label for="inputUserConfirmPassword">Confirmação de senha</label>
          </div>
        </transition>
        <div class="auth__actions">
          <a href @click.prevent="changeMode()">{{ auth ? 'Entrar' : 'Criar conta' }}</a>
          <button type="submit">{{ title }}</button>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
import Logo from '@/components/Logo';

import auth from './AuthEnum';

import { sign } from '@/utils/auth';

import { errorAlert } from '@/utils/error';
import { successAlert } from '@/utils/success';

export default {
  name: 'Auth',
  components: {
    Logo
  },
  data() {
    return {
      mode: auth.SIGNIN,
      user: {}
    };
  },
  computed: {
    auth() {
      return this.mode === auth.SIGNUP;
    },
    title() {
      return this.mode === auth.SIGNIN ? 'Entrar' : 'Cadastrar';
    }
  },
  methods: {
    changeMode() {
      this.mode = this.mode === auth.SIGNIN ? auth.SIGNUP : auth.SIGNIN;
    },
    async sign() {
      try {
        this.$store.dispatch('TOGGLE_LOADING', true);
        const user = await sign(this.mode, this.user);
        this.$store.dispatch('SET_USER', user);
        this.$router.push(this.$route.query.redirect || '/home');
      } catch (error) {
        errorAlert(error);
      } finally {
        this.$store.dispatch('TOGGLE_LOADING', false);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/assets/sass/_variables.scss';

.auth {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    background-color: #fff;
    width: 350px;
    padding: 2em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;

    & form {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 1em;
  }

  &__box {
    position: relative;
    margin-bottom: 2em;

    & input {
      width: 100%;
      font-size: 1em;
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      background: transparent;
      transition: 0.5s;

      &:-webkit-autofill {
        transition: 0s;
        box-shadow: 0 0 0px 1em white inset;
      }

      &:focus,
      &:valid {
        border-bottom: 1px solid $primary;
        & ~ label {
          top: -1.25em;
          left: 0;
          font-size: 0.8em;
          color: $primary;
        }
      }
    }

    & label {
      position: absolute;
      font-size: 1em;
      margin: 0;
      top: 0;
      left: 0;
      transition: 0.5s;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & button {
      padding: 0.5em 1em;
      background-color: $primary;
      border: 1px solid $primary;
      border-radius: 5px;
      color: #fff;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $secondary;
        border-color: $secondary;
      }
    }
  }
}
</style>
