// Colors
$primary:           #61dafb !default;
$secondary:         #49a7c1 !default;
$dark-blue:         #003242 !default;
$dark-blue--hover:  #212b36 !default;
$muted:             #6c757d !default;
$success:           #28a745 !default;
$danger:            #dc3545 !default;

//Sizes
$header-height: 60px;
$footer-height: 40px;
$menu-width:    300px;

// Root
$colors: (
  primary:          $primary,
  secondary:        $secondary,
  dark-blue:        $dark-blue,
  dark-blue--hover: $dark-blue--hover,
  muted:            $muted,
  success:          $success,
  danger:           $danger
) !default;

$sizes: (
  header-height:  $header-height,
  footer-height:  $footer-height,
  menu-width:     $menu-width
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }

  @each $name, $size in $sizes {
    --size-#{$name}: #{$size};
  }
}
